<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body .aux-self{padding: 20px;}
        body .aux-self .layui-input-block{float: left;margin-left: 0;}
        body .aux-self .layui-form-label{width: 90px;}
        .aux-self-word{padding: 8px 10px;float: left; margin-left: 20px; border: 1px solid #e6e6e6;width: 220px;color: #ff1010;
        display: none;}


    </style>
    <script>


    </script>
</head>
<body>
<div class="modify-pwd-layer aux-self" id="modifypwdlayer" style="display: none">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">原密码</label>
            <div class="layui-input-block">
                <input id="mopwd" type="password" name="title" required  lay-verify="required" autofocus placeholder="请输入原密码" autocomplete="off" class="layui-input">
            </div>
            <div id="mopwd-aux" class="aux-self-word"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input id="newpwd1" type="password" name="title" required  lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">
            </div>
            <div id="newpwd1-aux" class="aux-self-word"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">再次输入</label>
            <div class="layui-input-block">
                <input id="newpwd2" type="password" name="title" required  lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">
            </div>
            <div id="newpwd2-aux" class="aux-self-word"></div>
        </div>
    </form>
</div>

</body>
</html>