<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>审查报销列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="${request.contextPath}/static/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="${request.contextPath}/static/layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="${request.contextPath}/static/ywUi/css/finace/finace.css" media="all">
</head>
<body>
<div class="layui-fluid  reimburse-background-color" id="reimburseDivForm">
  <div class="layui-form " lay-filter="layuiadmin-form-admin" id="layuiadmin-form-admin" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
      <div class="layui-col-md11">
        <div class="layui-inline">
          <label class="layui-form-label">科室：</label>
          <div class="layui-input-block" style="display: block;">
            <select  disabled="disabled">
              <#list officeList as obj>
              <option value="${obj.officeCode}" <#if obj.officeCode==result.officeCode>selected</#if>>${obj.officeName}</option>
              </#list>
          </select>
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">出差人：</label>
        <div class="layui-input-block-special" >
          <input type="text"  placeholder="请输入" autocomplete="off"
                 class="layui-input" value="${result.reimburseMembers}" lay-verify="required" readonly="readonly">
        </div>
       <!-- <div class="reimburse-card-body-title-text reimburse-card-body-title-text-i-float">
          <i class="layui-icon layui-icon-about title-text-icon  title-text-icon-second-separator"
             id="travelPeopleInfo"></i>
        </div>-->
      </div>
    </div>
    <div class="layui-col-md11">
      <div class="layui-inline layui-col-md9">
        <label class="layui-form-label">出差事由：</label>
        <div class="layui-input-block">
          <textarea placeholder="请输入内容"   class="layui-textarea" lay-verify="required" readonly="readonly">${result.reimburseReason}</textarea>
        </div>

      </div>
    </div>
  </div>
  <div class="layui-card-body  layui-card-body-scroll">
    <div class="reimburse-card-body-title">
      <div class="reimburse-card-body-title-text">
        车船费
        <!--<i class="layui-icon layui-icon-about title-text-icon title-text-icon-second" id="carboatInfo"></i>-->

      </div>

      <#list carboatfeesList as obj>
      <div class="separator-line-css carboatfeeMotherDiv"  id="carboatfeeMotherDiv">
        <div class="layui-col-md11 mbottom">
          <div class="layui-inline">
            <label class="layui-form-label">出发时间：</label>
            <div class="layui-input-block">
              <input type="text"  placeholder="yyyy-MM-dd" autocomplete="off"
                     class="layui-input datetime" readonly="readonly" value="${obj.departureTime}">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">出发地点：</label>
            <div class="layui-input-block">
              <input type="text" readonly="readonly"  value="${obj.departurePlace}" placeholder="请输入" autocomplete="off"
                     class="layui-input">
            </div>
          </div>
        </div>
        <div class="layui-col-md11 mbottom">
          <div class="layui-inline">
            <label class="layui-form-label">到达时间：</label>
            <div class="layui-input-block">
              <input type="text" readonly="readonly" value="${obj.arrivalTime}"  placeholder="yyyy-MM-dd" autocomplete="off"
                     class="layui-input datetime">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">到达地点：</label>
            <div class="layui-input-block">
              <input type="text" readonly="readonly" value="${obj.arrivalPlace}" placeholder="请输入" autocomplete="off"
                     class="layui-input">
            </div>
          </div>
        </div>
        <div class="layui-col-md11 mbottom">
          <div class="layui-inline layui-form">
            <label class="layui-form-label">车船类别：</label>
            <div class="layui-input-block" style="width: 182px;">
              <select  disabled="disabled">
                 <option value="汽车" <#if obj.carboatType=='汽车'>selected</#if>>汽车</option>
                 <option value="火车" <#if obj.carboatType=='火车'>selected</#if>>火车</option>
                 <option value="飞机" <#if obj.carboatType=='飞机'>selected</#if>>飞机</option>
                 <option value="轮船" <#if obj.carboatType=='轮船'>selected</#if>>轮船</option>
             </select>
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">单据张数：</label>
      <div class="layui-input-block">
        <input type="text"  placeholder="请输入" autocomplete="off"
               class="layui-input" readonly="readonly" value="${obj.docNumber}" lay-verify="int">
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">车船费：</label>
      <div class="layui-input-block">
        <input type="text"  placeholder="请输入" autocomplete="off"
               class="layui-input" readonly="readonly" value="${obj.carboatfee}" lay-verify="money">
      </div>
    </div>
  </div>
</div>
</#list>
</div>
<div class="reimburse-card-body-title">
  <div class="reimburse-card-body-title-text">
    出差补贴
   <!-- <i class="layui-icon layui-icon-about title-text-icon title-text-icon-second"
       id="travelStandardInfo"></i>-->
  </div>
  <#list travelAllowanceList as obj>
  <div class="travelStandardMotherDiv"  id="travelStandardMotherDiv">
    <div class="layui-col-md11 mbottom" >
      <div class="layui-inline">
        <label class="layui-form-label">天数：</label>
        <div class="layui-input-block">
          <input type="text"  lay-filter="days" readonly="readonly"  placeholder="请输入整数" autocomplete="off"
                 class="layui-input days" value="${obj.days}" lay-verify="int" >
        </div>
      </div>
      <div class="layui-inline layui-form">
          <label class="layui-form-label">标准：</label>
          <div class="layui-input-block" style="width: 182px;">
            <select  lay-filter="travelStandard" disabled="disabled">
              <option value="25"  <#if obj.travelStandard=='25'>selected</#if>>25</option>
              <option value="55"  <#if obj.travelStandard=='55'>selected</#if>>55</option>
              <option value="42.5" <#if obj.travelStandard=='42.5'>selected</#if>>42.5</option>
            </select>
         </div>
       </div>
  <div class="layui-inline">
    <label class="layui-form-label">金额：</label>
    <div class="layui-input-block">
      <input type="text"  readonly="readonly" readonly="readonly" placeholder="请输入" autocomplete="off"
             class="layui-input" value="${obj.travelmoney}">
    </div>
  </div>

</div>
</div>
</#list>
</div>
<div class="reimburse-card-body-title">
  <div class="reimburse-card-body-title-text">
    其它费用
    <!--<i class="layui-icon layui-icon-about title-text-icon title-text-icon-second" id='otherfeeInfo'></i>-->
  </div>

  <#list otherFeeList as obj>
  <div class="otherfeeMotherDiv"  id="otherfeeMotherDiv">
    <div class="layui-col-md11 mbottom" >
      <div class="layui-inline">
        <label class="layui-form-label">项目：</label>
        <div class="layui-input-block">
          <input type="text" placeholder="请输入" autocomplete="off"
                 class="layui-input" readonly="readonly" value="${obj.itemname}">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">单据张数：</label>
        <div class="layui-input-block">
          <input type="text"  placeholder="请输入" autocomplete="off"
                 class="layui-input"  readonly="readonly" value="${obj.otherdocnumber}" lay-verify="int">
        </div>
      </div>
      <div class="layui-inline layui-form">
        <label class="layui-form-label">金额：</label>
        <div class="layui-input-block">
          <input type="text"  placeholder="请输入" autocomplete="off"
                 class="layui-input" readonly="readonly" value="${obj.otherfeemoney}" lay-verify="money">
        </div>
      </div>

    </div>
  </div>
</#list>
</div>
<div class="reimburse-card-body-title">
  <div class="reimburse-card-body-title-text">合计 </div>
  <div class="layui-col-md11 mbottom">
    <div class="layui-inline layui-inline-total" >
      <label class="layui-form-label layui-form-label-width">车船费+出差补贴费：</label>
      <div class="layui-input-block layui-input-block-left">
        <input type="text"  id="totalCarBoatTravel" placeholder="请输入"  readonly="readonly" autocomplete="off"
               class="layui-input" value="${totalCarBoatTravel}">
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">其它费用：</label>
      <div class="layui-input-block">
        <input type="text"  id="totalotherFee" placeholder="请输入" autocomplete="off" readonly="readonly"
               class="layui-input" value="${totalotherFee}">
      </div>
    </div>
  </div>

</div>
<div class="reimburse-card-body-title">
  <div class="reimburse-card-body-title-text">下载附件 </div>
  <div class="layui-col-md11 mbottom">
    <div class="layui-inline " style="margin-left: 50px;" >
      <div class="layui-upload">
        <span class="layui-inline layui-upload-choose" > <a  data-name="${result.uploadName}" data-path="${result.uploadPath}"  data-module="${userName}" class="downloadA" onclick="fqdownload('/upload/fileDownload?',this)">${result.uploadName}</a></span>
      </div>
    </div>
  </div>
</div>

<div class="reimburse-card-body-title">
  <div class="reimburse-card-body-title-text">审查结果 </div>
  <#if type==2>
  <div class="layui-col-md11">
    <div class="layui-inline layui-col-md11 layui-inline-total">
      <label class="layui-form-label" >审查时间：</label>
      <div class="layui-input-block layui-input-block-text">
        ${result.review.updateTime}
      </div>
    </div>
  </div>
</#if>
  <div class="layui-col-md11" >
    <div class="layui-inline layui-col-md11 layui-inline-total">
      <label class="layui-form-label">审查意见：</label>
      <div class="layui-input-block">
        <textarea placeholder="请输入内容"   name="reviewOpinion" class="layui-textarea" lay-verify="required">${result.review.reviewOpinion!}</textarea>
      </div>
    </div>
  </div>
  <div class="layui-col-md11">
    <div class="layui-inline layui-col-md11 layui-inline-total">
      <label class="layui-form-label">审查结果：</label>
      <div class="layui-input-block">
        <input type="radio" name="reviewState" value="PASSREVIEW" title="通过"   <#if result.review.reviewState=='PASSREVIEW'>checked="checked"</#if>><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>通过</div></div>
        <input type="radio" name="reviewState" value="NOTPASSREVIEW" title="不通过"  <#if result.review.reviewState=='NOTPASSREVIEW'>checked="checked"</#if>><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon layui-anim-scaleSpring"></i><div>不通过</div></div>
      </div>
      <input type="hidden"  name="id"  value="${id}"/>
      <input type="hidden"  name="reimburseId"  value="${result.id}"/>
    </div>
  </div>

</div>
<#if type==1>
</div>
    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="LAY-review-edit-submit" id="LAY-review-edit-submit" value="确认">
    </div>
</div>
</#if>

</div>

<script src="${request.contextPath}/static/layuiadmin/layui/layui.js"></script>
<!--zheli-->
<script src="${request.contextPath}/static/ywUi/js/lib/jquery-2.1.0.js"></script>

<script>

  layui.config({
    base: '${request.contextPath}/static/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index', //主入口模块
    verfy: '../../ywUi/js/commons/verfy',
    reimburseAdd: '../../ywUi/js/finace/reimburseAdd'
  }).use(['index', 'reimburseAdd', 'form', 'verfy'], function () {
    var $ = layui.$,
            form = layui.form,
            table = layui.table;

  });
  //下载文件
  function fqdownload(url,ele){
    var $this=$(ele);
    var name=$this.data("name");
    var path=$this.data("path");
    var module=$this.data("module");
    window.location=url+"fileName="+encodeURIComponent(name)+"&filePath="+encodeURIComponent(path)+"&module="+module;
  }

</script>
</body>
</html>