<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
 * OfficeMapper
 * 
 * @author  crj
 * @version v1.0.0
 * 描述：自动生成的代码
 * 时间：2019-05-16 09:47:26
-->
<mapper namespace="com.yuanwang.sys.dao.OfficeMapper" >
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <resultMap id="resultOfficeMap" type="Office" > 
			<id column="id" property="id" jdbcType="INTEGER" /><!--自增id-->
			<result column="office_code" property="officeCode" jdbcType="VARCHAR" /><!--科室编号-->
			<result column="office_name" property="officeName" jdbcType="VARCHAR" /><!--科室名称-->
			<result column="create_time" property="createTime" jdbcType="TIMESTAMP" /><!--创建时间-->
			<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" /><!--更新时间-->
	</resultMap>


	<!-- 表名 -->
	<sql id="table_name">
		sys_office
	</sql>
	
	<!-- 主键条件 -->
    <sql id="primaryCondition">
    <where>
    id = #{id}
    </where>
    </sql>
    
    <!-- 查询全部 -->
    <sql id="findAll">
        select * from <include refid="table_name" />
    </sql>
    <!-- 通用条件判断 -->
    <sql id="condition">
    	<where>
    	  <if test="operator=='or'">
    	  (
    	  </if>
    		<trim prefixOverrides="and|or">
	    	<if test="officeCode!=null and officeCode!=''">
    		 office_code = #{officeCode}
    		</if>
	    	<if test="officeName!=null and officeName!=''">
    		 <choose><when test="operator=='or'">or</when><otherwise>and</otherwise></choose> office_name = #{officeName}
    		</if>
	    	<if test="createTime!=null and createTime!=''">
    		 <choose><when test="operator=='or'">or</when><otherwise>and</otherwise></choose> create_time = #{createTime}
    		</if>
	    	<if test="updateTime!=null and updateTime!=''">
    		 <choose><when test="operator=='or'">or</when><otherwise>and</otherwise></choose> update_time = #{updateTime}
    		</if>
	    	</trim>
	    	<if test="operator=='or'">
    		)
	    	</if>
	    	<if test="excludeId!=null">
    		 <![CDATA[
    		 and id <> #{excludeId}
    		 ]]>
    		</if>
    	</where>
    </sql>
    <sql id="orderBy">
        <if test="sql_keyword_orderBy!=null and sql_keyword_orderBy!=''">
    		order by ${sql_keyword_orderBy} ${sql_keyword_sort}
    	</if>
    </sql>
    
	
    <!-- 插入数据 -->
    <insert id="insert" parameterType="Office"  useGeneratedKeys="true" keyProperty="id" keyColumn="id" flushCache="true"> 
        insert into <include refid="table_name" />(
	        office_code,
	        office_name,
	        create_time,
	        update_time) values(
	         #{officeCode},
	         #{officeName},
	         #{createTime},
	         #{updateTime}
	        )
	        
	        <selectKey resultType="int" keyProperty="id">  
	          SELECT  
	          LAST_INSERT_ID()  
	        </selectKey>
   </insert>
     <!-- 更新数据 -->
    <update id="update" parameterType="Office" flushCache="true" >
    	update <include refid="table_name" /> 
    	<set>
        	<if test="officeCode!=null">
        	office_code = #{officeCode},
        	 </if>
        	<if test="officeName!=null">
        	office_name = #{officeName},
        	 </if>
        	<if test="createTime!=null">
        	create_time = #{createTime},
        	 </if>
        	<if test="updateTime!=null">
        	update_time = #{updateTime},
        	 </if>
        </set>
        <include refid="primaryCondition"/> 
   </update>
   <!-- 删除数据 -->
   <delete id="deleteByIds" flushCache="true" >
		delete from <include refid="table_name" /> where id in
		<foreach collection="list" index="index" item="ids" open="(" separator="," close=")">  
            #{ids}
        </foreach>                                          
   </delete>
   <!-- 删除数据 -->
   <delete id="deleteById" parameterType="Office" flushCache="true" >
		delete from <include refid="table_name" />  where id=#{id} 
   </delete>
   <!-- map删除数据 -->
   <delete id="deleteByMap" parameterType="Map" flushCache="true" >
		delete from <include refid="table_name" />   <include refid="condition"/>
   </delete> 
    
    
	
	<!--根据主键查询-->
	<select id="findById" parameterType="Integer" resultMap="resultOfficeMap" useCache="true" flushCache="false">
	    <include refid="findAll"/>
	    <include refid="primaryCondition"/> 
	</select>
	
	<!--根据实体属性查询-->
	<select id="findByMap" parameterType="Map" resultMap="resultOfficeMap" useCache="true" flushCache="false">
	    <include refid="findAll"/>
	    <include refid="condition"/>
	</select>
	
	<!--查询全部记录-->
    <select id="findAll" resultMap="resultOfficeMap" useCache="true" flushCache="false">
        <include refid="findAll"/> 
    </select>   
    
    <!--excel导出记录-->
    <select id="excelExportListByMap" parameterType="Map" resultType="Map" useCache="true" flushCache="false">
        <include refid="findAll"/> 
        <include refid="condition"/>
    </select> 
    
    <select id="pro" parameterType="Map" resultMap="resultOfficeMap" useCache="false"
        statementType="CALLABLE">  
        <![CDATA[ 
        call xxx(
        #{v_total,mode=OUT,jdbcType=INTEGER},
        #{startRow,mode=IN,jdbcType=INTEGER},
        #{endRow,mode=IN,jdbcType=INTEGER});
        ]]>
    </select>
   
</mapper>
