<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>权限表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="${request.contextPath}/static/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="${request.contextPath}/static/layuiadmin/style/admin.css" media="all">
  <link href="${request.contextPath}/static/ywUi/plugin/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
</head>
<body>

  <div class="layui-fluid">   
    <div class="layui-card">
      <div class="layui-row layui-col-space15">
      <div class="layui-col-md3">
      	<!-- Ztree -->
		<div id="tree">
            <div style="padding: 10px;" class="layui-layer-wrap">
                <ul id="typeTree" class="ztree"></ul>
            </div>
        </div>
      </div>
      <div class="layui-col-md9">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">权限名</label>
            <div class="layui-input-block">
              <input type="text" name="permissionName" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-block">
              <input type="text" name="permissionCode" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
	  <div class="layui-inline">
            <label class="layui-form-label">权限类型</label>
            <div class="layui-input-block">
	          <select name='permissionType'>
	          	<option value="">请输入</option>
	      		<#list permissionTypeEnum as obj>
	      		<option value="${obj}">${obj.desc}</option>
	      		</#list>
	      	  </select>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">权限url</label>
            <div class="layui-input-block">
              <input type="text" name="permissionUrl" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-permission-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-admin layui-btn-sm" data-type="batchdel">删除</button>
          <button class="layui-btn layuiadmin-btn-admin layui-btn-sm" data-type="add">添加</button>
        </div>
        
        <table id="LAY-permission-table" lay-filter="LAY-permission-table"></table>  
        <script type="text/html" id="table-permission-operation">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
        <script type="text/html" id="table-permission-permissionType">
			{{# if(d.permissionType=="LINK"){ }}
				链接菜单
			{{# }else if(d.permissionType=="MENU"){ }}
				普通菜单
			{{# }else{ }}
				功能菜单
			{{# }}}
        </script>
          <script type="text/html" id="indexTpl">
              {{d.LAY_TABLE_INDEX+1}}
          </script>
      </div>
      </div>
      </div>
    </div>
  </div>

 <script src="${request.contextPath}/static/layuiadmin/layui/layui.js"></script>  
 <script src="${request.contextPath}/static/ywUi/plugin/zTree_v3/js/jquery-1.4.4.min.js"></script>
 <script src="${request.contextPath}/static/ywUi/plugin/zTree_v3/js/jquery.ztree.all.js"></script>
  <script type="text/javascript">
    var zTree;
    var setting = {
			async:{
				autoParam : ["id=parentId"],
				contentType : "application/x-www-form-urlencoded",
				enable:true,
				type: "post",
				url : "queryPermissionTree"
			},
            data : {   
                simpleData : {
                    enable : true, //设置启用简单数据格式[{id, pId, name}, {id, pId, name}]   
				    idKey : "id",  //节点数据中保存唯一标识的属性名称
				    pIdKey : "pId",  //节点数据中保存其父节点唯一标识的属性名称
			        rootPId : null,  //根节点id
                    type: "type"
                }
            },
            check: {
                enable: false,   //true / false 分别表示 显示 / 不显示 复选框或单选框
				autoCheckTrigger: true,   //true / false 分别表示 触发 / 不触发 事件回调函数
				chkStyle: "checkbox",   //勾选框类型(checkbox 或 radio）
				chkboxType: { "Y": "s", "N": "s" }   //勾选 checkbox 对于父子节点的关联关系
                /*
                    Y: 选择复选框时
                    N: 取消复选框选中
                    p: 父级
                    s: 子级
                */
            },
			callback:{
				onExpand: queryTable,
				onClick: queryTable
			}
    };
 
    $(document).ready(function(){
        //发送异步请求加载分类信息,更新Ztree节点内容
        var url = "queryPermissionTree?parentId=0";
        $.getJSON(url,function(result){
           //访问zTree方法通过数据初始化节点信息
           zTree=$.fn.zTree.init($("#typeTree"),setting,result);
		   var nodes= zTree.getNodes();
		   zTree.reAsyncChildNodes(nodes[0],"refresh");
		   zTree.selectNode(nodes[0]);
        });
    });
 
 
    /*设置选中的节点*/
    function queryTable(event,treeId,treeNode){
	   zTree.selectNode(treeNode);
	   layui.table.reload('LAY-permission-table', {
	          where: {
	          	parentId:treeNode.id
	          }
	   });
	   
    }

	layui.config({
	    base: '${request.contextPath}/static/layuiadmin/' //静态资源所在路径
	  }).extend({
	    index: 'lib/index', //主入口模块
	    permission: '../../ywUi/js/sys/permission'
	  }).use(['index', 'permission', 'table'], function(){
	    var $ = layui.$
	    ,form = layui.form
	    ,table = layui.table;

    //监听搜索
    form.on('submit(LAY-permission-search)', function(data){
      var field = data.field;
      //执行重载
      table.reload('LAY-permission-table', {
        where: field
      });
    });
  
    layui.table.reload('LAY-permission-table', {
	          where: {
	          	parentId:1
	          }
	});
    //事件
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-permission-table')
        ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
        var ids="";
        $.each(checkData,function(i,n){
        	ids=ids+","+n.id;
        });
        $.ajax({
        	url:'delete?ids='+ids.substr(1),
        	success: function(e){
        		if(e.code==0){
	        		table.reload('LAY-permission-table');
	        		layer.msg(e.msg);
	        		if($("#LAY-permission-table").next().find("table").find("tbody tr").length==0){
                    	zTree.reAsyncChildNodes(zTree.getSelectedNodes()[0],"refresh");
	        			zTree.getSelectedNodes()[0].isParent=false;
	        		}else{
                    	zTree.reAsyncChildNodes(zTree.getSelectedNodes()[0],"refresh");
                    }
        		}else{
        			layer.msg(e.msg);
        		}
            }
        });
      },
      add: function(){
        layer.open({
          type: 2
          ,title: '权限表新增'
          ,content: 'build?parentId='+zTree.getSelectedNodes()[0].id
          ,area: ['420px', '500px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
            ,submitID = 'LAY-permission-submit'
            ,submit = layero.find('iframe').contents().find('#'+ submitID);
            //监听提交
            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
              var field = data.field; //获取提交的字段
              //提交 Ajax 成功后，静态更新表格中的数据
              $.ajax({
	        	url:'create',
	        	data:field,
	        	type:'POST',
	        	success: function(e){
	        		if(e.code==0){
		        		table.reload('LAY-permission-table');
		        		layer.msg(e.msg);
		        		layer.close(index);  //关闭弹层
		        		zTree.getSelectedNodes()[0].isParent=true;
		        		zTree.updateNode();
                        zTree.reAsyncChildNodes(zTree.getSelectedNodes()[0],"refresh");
	        		}else{
	        			layer.msg(e.msg);
	        		}
	            }
	          });
            });  
            
            submit.trigger('click');
          }
        }); 
      }
    }  
    
    $('.layui-btn.layuiadmin-btn-admin').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
	</script>
</body>
</html>

