<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * ReviewMapper
 * 
 * @author  crj
 * @version v1.0.0
 * 描述：自动生成的代码
 * 时间：2019-05-16 11:15:07
-->
<mapper namespace="com.yuanwang.finace.dao.ReviewMapper" >
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <resultMap id="resultReviewMap" type="Review" > 
			<id column="id" property="id" jdbcType="INTEGER" /><!--自增id(审核id)-->
			<result column="reimburse_id" property="reimburseId" jdbcType="INTEGER" /><!--报销id-->
			<result column="review_opinion" property="reviewOpinion" jdbcType="VARCHAR" /><!--审核意见-->
			<result column="review_state" property="reviewState" jdbcType="INTEGER" /><!--报销类别【enum】(0:未审核:notReview,1:已审核:hasReview)-->
			<result column="second_review_state" property="secondReviewState" jdbcType="INTEGER" /><!--审核类别【enum】(0:未审核:notReview,1:obj:isReview,2:审核通过:passReview,3:审核未通过:notpassReview)-->
			<result column="second_review_opinion" property="secondReviewOpinion" jdbcType="VARCHAR" /><!--第二级审核意见-->
			<result column="create_time" property="createTime" jdbcType="TIMESTAMP" /><!--创建时间-->
			<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" /><!--更新时间-->
			<result column="staff_code" property="staffCode" jdbcType="VARCHAR" /><!--员工编号-->
			<result column="reimburse_type" property="reimburseType" jdbcType="INTEGER" /><!--报销类别【enum】(1:外出培训:outtrain)-->
			<result column="reimburse_date" property="reimburseDate" jdbcType="VARCHAR" /><!-- 报销日期-->
			<result column="reimburse_members" property="reimburseMembers" jdbcType="VARCHAR" /><!--报销成员-->
	</resultMap>


	<!-- 表名 -->
	<sql id="table_name">
		finace_review
	</sql>
	
	<!-- 主键条件 -->
    <sql id="primaryCondition">
    <where>
		rw.id = #{id}
    </where>
    </sql>
    
    <!-- 查询全部 -->
    <sql id="findAll">
		select rw.reimburse_id,rw.id,rv.staff_code,rv.reimburse_type,reimburse_state,ifnull(rw.review_opinion,'') as review_opinion,second_review_state,second_review_opinion,
		ifnull(rw.review_state,0) as review_state,DATE_FORMAT(rv.reimburse_date,'%Y-%m-%d') as reimburse_date,rv.reimburse_members,
		DATE_FORMAT(rw.update_time,'%Y-%m-%d') as update_time ,DATE_FORMAT(rw.create_time ,'%Y-%m-%d') as create_time
		from <include refid="table_name" />  rw
		left join finace_reimburse rv
		on rv.id=rw.reimburse_id

    </sql>

    <!-- 通用条件判断 -->
    <sql id="condition">
    	<where>
    	  <if test="operator=='or'">
    	  (
    	  </if>
    		<trim prefixOverrides="and|or">
	    	<if test="reimburseId!=null">
				<choose><when test="operator=='or'">or</when><otherwise>and</otherwise></choose>
    		     rw.reimburse_id = #{reimburseId}
    		</if>
    		   <!--财务科审核的待审核清单（只有财务和护理科教的二级）-->
				<if test="type!=null and type==1 and flag==1">
					and rv.reimburse_state=1 and (rw.second_review_state <![CDATA[<]]> 2 || rw.second_review_state = 4 and rv.found_source <![CDATA[<>]]> 2) || (rv.found_source = 2 and rw.second_review_state=4 and rw.review_state <![CDATA[<]]> 2)
				</if>
				<!--护理部科审核的待审核清单-->
				<if test="type!=null and type==1 and flag==2">
					and rv.reimburse_state=1 and rw.review_state <![CDATA[<]]> 2 and rv.found_source=1 and rw.second_review_state=4
				</if>
				<!--科教科审核的待审核清单-->
				<if test="type!=null and type==1 and flag==3">
					and rv.reimburse_state=1 and rw.review_state <![CDATA[<]]> 2 and rw.second_review_state=4 and (rv.found_source=0 || rv.found_source=3 || rv.found_source=4 || rv.found_source=5)
				</if>
				<!--财务科审核的历史清单-->
				<if test="type!=null and type==2 and flag==1">
					and rv.reimburse_state<![CDATA[= ]]> 1 and ( rv.found_source <![CDATA[<>]]> 2 and rw.second_review_state <![CDATA[>]]> 1 and  rw.second_review_state <![CDATA[<]]> 4 ) || (rv.found_source = 2 and rw.review_state <![CDATA[>]]> 1)
				</if>
				<!--护理部审核的历史清单-->
				<if test="type!=null and type==2 and flag==2">
					and rv.reimburse_state<![CDATA[= ]]> 1 and rw.review_state <![CDATA[>]]> 1 and rv.found_source=1
				</if>
				<!--科教科审核的历史清单-->
				<if test="type!=null and type==2 and flag==3">
					and rv.reimburse_state<![CDATA[= ]]> 1 and rw.review_state <![CDATA[>]]> 1 and (rv.found_source=0 || rv.found_source=3 || rv.found_source=4 || rv.found_source=5)
				</if>

				<if test="staffCode!=null and staffCode!=''">
					<choose><when test="operator=='or'">or</when><otherwise>and</otherwise></choose>
					rv.staff_code = #{staffCode}
				</if>
				<if test="reimburseType!=null">
					<choose><when test="operator=='or'">or</when><otherwise>and</otherwise></choose>
					rv.reimburse_type = #{reimburseType}
				</if>
				<if test="reviewState!=null">
					<choose><when test="operator=='or'">or</when><otherwise>and</otherwise></choose>
					rw.review_state = #{reviewState}
				</if>
				<if test="secondReviewState!=null">
					<choose><when test="operator=='or'">or</when><otherwise>and</otherwise></choose> rw.second_review_state = #{secondReviewState}
				</if>
				<if test="secondReviewOpinion!=null and secondReviewOpinion!=''">
					<choose><when test="operator=='or'">or</when><otherwise>and</otherwise></choose> rw.second_review_opinion = #{secondReviewOpinion}
				</if>
				<if test="reimburseMembers!=null and reimburseMembers!=''">
					<choose><when test="operator=='or'">or</when><otherwise>and</otherwise></choose>
					rv.reimburse_members like concat('%',#{reimburseMembers},'%')
				</if>
				<if test="reimburseStartDate!=null and reimburseStartDate!=''">
					<choose><when test="operator=='or'">or</when><otherwise>and</otherwise></choose>
					rv.reimburse_date <![CDATA[>=]]> #{reimburseStartDate}
				</if>
				<if test="reimburseEndDate!=null and reimburseEndDate!=''">
					<choose><when test="operator=='or'">or</when><otherwise>and</otherwise></choose>
					rv.reimburse_date <![CDATA[<=]]>  #{reimburseEndDate}
				</if>
	    	</trim>
	    	<if test="operator=='or'">
    		)
	    	</if>
	    	<if test="excludeId!=null">
    		 <![CDATA[
    		 and rw.id <> #{excludeId}
    		 ]]>
    		</if>

    	</where>
    </sql>
    <sql id="orderBy">
        <if test="sql_keyword_orderBy!=null and sql_keyword_orderBy!=''">
    		order by ${sql_keyword_orderBy} ${sql_keyword_sort}
    	</if>
    </sql>
    
	
    <!-- 插入数据 -->
    <insert id="insert" parameterType="Review"  useGeneratedKeys="true" keyProperty="id" keyColumn="id" flushCache="true"> 
        insert into <include refid="table_name" />(
	        reimburse_id,
	        review_opinion,
	        review_state,
		    second_review_state,
			second_review_opinion,
	        create_time,
	        update_time) values(
	         #{reimburseId},
	         #{reviewOpinion},
	         #{reviewState},
			#{secondReviewState},
			#{secondReviewOpinion},
			 now(),
			 now()
	        )
	        
	        <selectKey resultType="int" keyProperty="id">  
	          SELECT  
	          LAST_INSERT_ID()  
	        </selectKey>
   </insert>
     <!-- 更新数据 -->
    <update id="update" parameterType="Review" flushCache="true" >
    	update <include refid="table_name" />
    	<set>
        	<if test="reimburseId!=null">
        	reimburse_id = #{reimburseId},
        	 </if>
        	<if test="reviewOpinion!=null">
        	review_opinion = #{reviewOpinion},
        	 </if>
        	<if test="reviewState!=null">
        	review_state = #{reviewState},
        	 </if>
			<if test="secondReviewState!=null">
				second_review_state = #{secondReviewState},
			</if>
			<if test="secondReviewOpinion!=null">
				second_review_opinion = #{secondReviewOpinion},
			</if>
        	<if test="createTime!=null">
        	create_time = now(),
        	 </if>
        	<if test="updateTime!=null">
        	update_time =now(),
        	 </if>
        </set>
		where id= #{id}
   </update>
   <!-- 删除数据 -->
   <delete id="deleteByIds" flushCache="true" >
		delete from <include refid="table_name" /> where id in
		<foreach collection="list" index="index" item="ids" open="(" separator="," close=")">  
            #{ids}
        </foreach>                                          
   </delete>
   <!-- 删除数据 -->
   <delete id="deleteById" parameterType="Review" flushCache="true" >
		delete from <include refid="table_name" />  where id=#{id} 
   </delete>
   <!-- map删除数据 -->
   <delete id="deleteByMap" parameterType="Map" flushCache="true" >
		delete from <include refid="table_name" />   <include refid="condition"/>
   </delete> 
    
    
	
	<!--根据主键查询-->
	<select id="findById" parameterType="Integer" resultMap="resultReviewMap" useCache="false" flushCache="false">
	    <include refid="findAll"/>
	    <include refid="primaryCondition"/> 
	</select>
	<!--根据主键查询-->
	<select id="findByReimburseId" parameterType="Integer" resultMap="resultReviewMap" useCache="false" flushCache="false">
		<include refid="findAll"/>
		where reimburse_id= #{id}
	</select>
	<!--根据实体属性查询-->
	<select id="findByMap" parameterType="Map" resultMap="resultReviewMap" useCache="false" flushCache="false">
	    <include refid="findAll"/>
	    <include refid="condition"/>
	</select>
	
	<!--查询全部记录-->
    <select id="findAll" resultMap="resultReviewMap" useCache="false" flushCache="false">
        <include refid="findAll"/> 
    </select>   
    
    <!--excel导出记录-->
    <select id="excelExportListByMap" parameterType="Map" resultType="Map" useCache="false" flushCache="false">
        <include refid="findAll"/> 
        <include refid="condition"/>
    </select> 
    
    <select id="pro" parameterType="Map" resultMap="resultReviewMap" useCache="false"
        statementType="CALLABLE">  
        <![CDATA[ 
        call xxx(
        #{v_total,mode=OUT,jdbcType=INTEGER},
        #{startRow,mode=IN,jdbcType=INTEGER},
        #{endRow,mode=IN,jdbcType=INTEGER});
        ]]>
    </select>
   
</mapper>
