<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="${request.contextPath}/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="${request.contextPath}/static/layuiadmin/style/admin.css" media="all">
    <link href="${request.contextPath}/static/ywUi/plugin/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet"/>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-col-md11">
                    <div class="layui-inline">
                        <label class="layui-form-label">报销类别</label>
                        <div class="layui-input-block">
                            <select name='reimburseType'>
                                <option value="">请输入</option>
                                <#list reimburseTypeEnum as obj>
                                <option value="${obj}">${obj.desc}</option>
                            </#list>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">报销状态</label>
                        <div class="layui-input-block">
                            <select name='reimburseState'>
                                <option value="">请输入</option>
                                <#list reimburseStateEnum as obj>
                                <option value="${obj}">${obj.desc}</option>
                            </#list>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">报销成员</label>
                        <div class="layui-input-block">
                            <input type="text" name="reimburseMembers" placeholder="请输入" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">审查状态</label>
                        <div class="layui-input-block">
                            <select name='reviewState'>
                                <option value="">请输入</option>
                                <#list reviewStateEnum as obj>
                                <option value="${obj}">${obj.desc}</option>
                            </#list>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">报销日期</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="reimburseDate" name="reimburseDate" style=" width: 212px;"
                                   placeholder=" - ">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md1">
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-reimburse-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <!--  <button class="layui-btn layuiadmin-btn-admin layui-btn-sm" data-type="batchdel">删除</button>-->
                <button class="layui-btn layuiadmin-btn-admin layui-btn-sm" data-type="add">新建</button>
              <!--  <button class="layui-btn layuiadmin-btn-admin layui-btn-sm" data-type="exportAttach">下载报销粘贴单</button>-->

            </div>

            <table id="LAY-reimburse-table" lay-filter="LAY-reimburse-table"></table>
            <script type="text/html" id="table-reimburse-submit">
                {{# if( d.reimburseState=="NOTSUBMIT" || d.reimburseState=="RESUBMIT"){ }}
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="submit"><i
                        class="layui-icon layui-icon-upload-drag"></i>上报</a>
                {{# } else {}}
                <a class="layui-btn layui-btn-disabled layui-btn-xs"><i class="layui-icon layui-icon-upload-drag"></i>上报</a>
                {{# } }}
            </script>
            <script type="text/html" id="table-reimburse-operation">

                {{# if( d.reimburseState=="NOTSUBMIT" || d.reimburseState=="RESUBMIT"){ }}
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
                {{# }else {}}
                <a class="layui-btn layui-btn-disabled layui-btn-xs" ><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-disabled layui-btn-xs" ><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
                {{# } }}
                <!-- 这里同样支持 laytpl 语法，如： -->
                {{# if(d.review!=null && d.review.reviewState =='PASSREVIEW'){ }}
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="export"><i
                        class="layui-icon layui-icon-download-circle"></i>下载</a>
                {{# }else {}}
                <a class="layui-btn layui-btn-disabled layui-btn-xs" ><i
                        class="layui-icon layui-icon-download-circle"></i>下载</a>
                {{# } }}
            </script>
            <script type="text/html" id="table-reimburse-reimburseType">
                {{# if(d.reimburseType=="OUTTRAIN"){ }}
                外出培训
                {{# }}}
            </script>
            <script type="text/html" id="titleTipl">
                {{# if(d.review && d.review.reviewOpinion){ }}
                <a href="javascript:;" data-d="{{d.review.reviewOpinion}}" onmouseover="show_shopm(this)" onmouseout="close_shopm(this)">{{d.review.reviewOpinion}}</a>
                {{# }else {}}
                --
                {{# } }}
            </script>
            <script type="text/html" id="memberTipl">
                <a href="javascript:;" data-d="{{d.reimburseMembers}}" onmouseover="show_shopm(this)" onmouseout="close_shopm(this)">{{d.reimburseMembers}}</a>
            </script>
            <script type="text/html" id="indexTpl">
                {{d.LAY_TABLE_INDEX+1}}
            </script>

        </div>
    </div>
</div>

<script src="${request.contextPath}/static/layuiadmin/layui/layui.js"></script>
<!--引入jquery,在layui外部调用jquery-->
<script src="${request.contextPath}/static/ywUi/js/lib/jquery-2.1.0.js"></script>

<script>
    var index;
    //显示详情
    function show_shopm(t){
        var row=$(t).attr('data-d'); //获取显示内容
        //小tips
       index= layer.tips(row,t,{
            tips:[1,'#4192C1'],
            time:4000
        });
    }
    //关闭详情
    function close_shopm(t){
        var row=$(t).attr('data-d'); //获取显示内容
        //小tips
        layer.close(index);
    }
    layui.config({
        base: '${request.contextPath}/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
        reimburse: '../../ywUi/js/finace/reimburse'
    }).use(['index', 'reimburse', 'table', 'laydate'], function () {
        var $ = layui.$
            , form = layui.form
            , table = layui.table,
            laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#reimburseDate'
            , range: true
        });
        //监听搜索
        form.on('submit(LAY-reimburse-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('LAY-reimburse-table', {
                where: field
            });
        });

        //事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('LAY-reimburse-table')
                    , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }
                var ids = "";
                $.each(checkData, function (i, n) {
                    ids = ids + "," + n.id;
                });
                $.ajax({
                    url: 'delete?ids=' + ids.substr(1),
                    success: function (e) {
                        if (e.code == 0) {
                            table.reload('LAY-reimburse-table');
                            layer.msg(e.msg);
                        } else {
                            layer.msg(e.msg);
                        }
                    }
                });
            },
            add: function () {
                //先选择报销类型，再新增流程
                layer.open({
                    type: 2
                    , title: '新建流程'
                    , content: 'buildFirst'
                    , area: ['400px', '250px']
                    , btn: ['下一步', '取消']
                    , yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index]
                            , submitID = 'LAY-reimburse-first-submit'
                            , submit = layero.find('iframe').contents().find('#' + submitID);
                        //监听提交
                        var reimburseType;
                        iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                            reimburseType = data.field.reimburseType;
                        });
                        submit.trigger('click');
                        layer.close(index);  //关闭弹层
                        layer.open({
                            type: 2
                            , title: '新建流程'
                            , content: 'build'
                            /*	,maxmin: true*/
                            , area: ['100%', '100%']
                            , btn: ['确定', '取消']
                            , yes: function (index, layero) {
                                var iframeWindow = window['layui-layer-iframe' + index]
                                    , submitID = 'LAY-reimburse-submit'
                                    , contentId = layero.find('iframe').contents(),
                                    submit = layero.find('iframe').contents().find('#' + submitID);

                                //计算车船和出差补贴的总和和其它费用的总和
                                var $form = contentId.find("#reimburseDivForm");
                                commomFun.autoCalTotal($form);
                                //监听提交
                                iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                                    var newData = new Object();
                                    var dat = data.field;
                                    newData.officeCode = dat.officeCode;
                                    newData.reimburseMembers = dat.reimburseMembers;
                                    newData.reimburseDate = dat.reimburseDate;
                                    newData.reimburseReason = dat.reimburseReason;
                                    newData.reimburseType = reimburseType;
                                    newData.uploadPath = dat.uploadPath;
                                    newData.uploadName = dat.uploadName;
                                    var json_str = commomFun.assembleFeesData(contentId);
                                    newData.reimburseItems = json_str;
                                    var totalCarBoatTravel = dat.totalCarBoatTravel;
                                    var totalotherFee = dat.totalotherFee;
                                    //组装合计的数量
                                    var totalFeeObjArray = new Array();
                                    var totalFeeObj = new Object();
                                    totalFeeObj.totalCarBoatTravel = totalCarBoatTravel;
                                    totalFeeObj.totalotherFee = totalotherFee;
                                    totalFeeObjArray.push(totalFeeObj);
                                    var totalFeeStr = JSON.stringify(totalFeeObjArray);
                                    newData.reimburseCost = totalFeeStr;
                                    //请确认你的合计金额是否正确
                                    layer.confirm('请确认你的合计金额是否正确', {
                                        btn: ['是', '否'] //按钮
                                    }, function () {
                                        //提交 Ajax 成功后，静态更新表格中的数据
                                        $.ajax({
                                            url: 'create',
                                            data: newData,
                                            type: 'POST',
                                            success: function (e) {
                                                if (e.code == 0) {
                                                    table.reload('LAY-reimburse-table');
                                                    layer.msg(e.msg);
                                                    layer.close(index);  //关闭弹层
                                                } else {
                                                    layer.msg(e.msg);
                                                }
                                            }
                                        });
                                    });
                                });
                                submit.trigger('click');
                            }
                        });

                    }
                });
            }, exportAttach: function () {
                window.location = "/finace/reimburse/exportReimburseAttach";

            }
        }

        var commomFun = {
            //提交前计算合计费用
            autoCalTotal: function ($form) {
                //车船费
                var carboatfees = $form.find("input[name='carboatfee']");
                var totalcarboatfee = 0.00;
                carboatfees.each(function () {
                    var v = Number($(this).val());
                    totalcarboatfee += v;
                });
                //出差补贴费
                var travelmoneys = $form.find("input[name='travelmoney']");
                var totaltravelmoneys = 0.00;
                travelmoneys.each(function () {
                    var v = Number($(this).val());
                    totaltravelmoneys += v;

                });
                //其它费用
                var otherfeemoneys = $form.find("input[name='otherfeemoney']");
                var totalotherfeemoney = 0.00;
                otherfeemoneys.each(function () {
                    var v = Number($(this).val());
                    totalotherfeemoney += v;

                });
                var totalCarBoatTravel = (totalcarboatfee + totaltravelmoneys).toFixed(2);
                var totalotherFee = totalotherfeemoney.toFixed(2);
                $form.find("#totalCarBoatTravel").val(totalCarBoatTravel);
                $form.find("#totalotherFee").val(totalotherFee);
            }, assembleFeesData: function (contentId) {  //组装复杂数据
                var itemDataObjData = [];
                var itemDataObj = new Object();
                //车船费
                var carboatfeeiItemsData = [];
                var carboatfeeMotherDivs = contentId.find(".carboatfeeMotherDiv:visible");
                carboatfeeMotherDivs.each(function () {
                    var carboatfeeitem = new Object();
                    carboatfeeitem.departureTime = $(this).find("input[name='departureTime']").val().trim();
                    carboatfeeitem.departurePlace = $(this).find("input[name='departurePlace']").val().trim();
                    carboatfeeitem.arrivalTime = $(this).find("input[name='arrivalTime']").val().trim();
                    carboatfeeitem.arrivalPlace = $(this).find("input[name='arrivalPlace']").val().trim();
                    carboatfeeitem.carboatType = $(this).find("select[name='carboatType']").val();
                    carboatfeeitem.docNumber = $(this).find("input[name='docNumber']").val().trim();
                    carboatfeeitem.carboatfee = $(this).find("input[name='carboatfee']").val().trim();
                    /*if(carboatfeeitem.carboatfee!='') {*/
                        carboatfeeiItemsData.push(carboatfeeitem);
                    /*}*/
                });

                //出差补贴费
                var travelAllowanceItemsData = [];
                var travelStandardMotherDivs = contentId.find(".travelStandardMotherDiv:visible");
                travelStandardMotherDivs.each(function () {
                    var travelAllowanceItem = new Object();
                    travelAllowanceItem.days = $(this).find("input[name='days']").val().trim();
                    travelAllowanceItem.travelStandard = $(this).find("select[name='travelStandard']").val();
                    travelAllowanceItem.travelmoney = $(this).find("input[name='travelmoney']").val().trim();
                   /* if(travelAllowanceItem.travelmoney!='') {*/
                        travelAllowanceItemsData.push(travelAllowanceItem);
                  /*  }*/
                });

                //其它费用
                var otherFeeItemsData = [];
                var otherfeeMotherDivs = contentId.find(".otherfeeMotherDiv:visible");
                otherfeeMotherDivs.each(function () {
                    var otherFeeItem = new Object();
                    otherFeeItem.itemname = $(this).find("input[name='itemname']").val().trim();
                    otherFeeItem.otherdocnumber = $(this).find("input[name='otherdocnumber']").val().trim();
                    otherFeeItem.otherfeemoney = $(this).find("input[name='otherfeemoney']").val().trim();
                 /*   if(otherFeeItem.otherfeemoney!='') {*/
                        otherFeeItemsData.push(otherFeeItem);
                    /*}*/
                });

                itemDataObj.carboatfeeiItemsData = carboatfeeiItemsData;
                itemDataObj.travelAllowanceItemsData = travelAllowanceItemsData;
                itemDataObj.otherFeeItemsData = otherFeeItemsData;
                itemDataObjData.push(itemDataObj);

                return JSON.stringify(itemDataObjData);
            }

        };


        $('.layui-btn.layuiadmin-btn-admin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

</script>
</body>
</html>

