<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="${request.contextPath}/static/layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="${request.contextPath}/static/layuiadmin/style/admin.css" media="all">
	<link href="${request.contextPath}/static/ywUi/plugin/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
</head>
<body>

  <div class="layui-fluid">   
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
	<div class="layui-col-md11">
		 <!-- <div class="layui-inline">
		    <label class="layui-form-label">员工编号</label>
		    <div class="layui-input-block">
		      <input type="text" name="staffCode" placeholder="请输入" autocomplete="off" class="layui-input">
		    </div>
		  </div>-->
		  <div class="layui-inline">
		    <label class="layui-form-label">报销类别</label>
		    <div class="layui-input-block">
			  <select name='reimburseType'>
				<option value="">请输入</option>
				<#list reimburseTypeEnum as obj>
				<option value="${obj}">${obj.desc}</option>
				</#list>
			  </select>
		    </div>
		  </div>
		  <div class="layui-inline">
		    <label class="layui-form-label">报销状态</label>
		    <div class="layui-input-block">
			  <select name='reimburseState'>
				<option value="">请输入</option>
				<#list reimburseStateEnum as obj>
				<option value="${obj}">${obj.desc}</option>
				</#list>
			  </select>
		    </div>
		  </div>
		  <div class="layui-inline">
		    <label class="layui-form-label">报销成员</label>
		    <div class="layui-input-block">
		      <input type="text" name="reimburseMembers" placeholder="请输入" autocomplete="off" class="layui-input">
		    </div>
		  </div>
		<div class="layui-inline">
			<label class="layui-form-label">审查状态</label>
			<div class="layui-input-block">
				<select name='reviewStateEnum'>
					<option value="">请输入</option>
					<#list reviewStateEnum as obj>
					<option value="${obj}">${obj.desc}</option>
				</#list>
				</select>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">报销日期</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" id="reimburseDate" name="reimburseDate" placeholder=" - ">
			</div>
		</div>
	  </div>
	  <div class="layui-col-md1">
		  <div class="layui-inline">
		    <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-reimburse-search">
		      <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
		    </button>
		  </div>
	  </div>
        </div>
      </div>
      
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-admin layui-btn-sm" data-type="batchdel">删除</button>
          <button class="layui-btn layuiadmin-btn-admin layui-btn-sm" data-type="add">添加</button>
        </div>
        
        <table id="LAY-reimburse-table" lay-filter="LAY-reimburse-table"></table>  
        <script type="text/html" id="table-reimburse-operation">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
      </div>
    </div>
  </div>

  <script src="${request.contextPath}/static/layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
	  base: '${request.contextPath}/static/layuiadmin/' //静态资源所在路径
  }).extend({
	  index: 'lib/index', //主入口模块
	  reimburse: '../../ywUi/js/finace/reimburse'
  }).use(['index', 'reimburse', 'table','laydate'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table,
	laydate=layui.laydate;
     //日期范围
	  laydate.render({
		  elem: '#reimburseDate'
		  ,range: true
	  });
    //监听搜索
    form.on('submit(LAY-reimburse-search)', function(data){
      var field = data.field;
      //执行重载
      table.reload('LAY-reimburse-table', {
        where: field
      });
    });
  
    //事件
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-reimburse-table')
        ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
        var ids="";
        $.each(checkData,function(i,n){
        	ids=ids+","+n.id;
        });
        $.ajax({
        	url:'delete?ids='+ids.substr(1),
        	success: function(e){
        		if(e.code==0){
	        		table.reload('LAY-reimburse-table');
	        		layer.msg(e.msg);
        		}else{
        			layer.msg(e.msg);
        		}
            }
        });
      },
      add: function(){
        layer.open({
          type: 2
          ,title: '新建流程'
          ,content: 'build'
		/*	,maxmin: true*/
			,area: ['100%', '100%']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){


            var iframeWindow = window['layui-layer-iframe'+ index]
            ,submitID = 'LAY-reimburse-submit'
            ,submit = layero.find('iframe').contents().find('#'+ submitID);
            //监听提交
            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
              var field = data.field; //获取提交的字段
              //提交 Ajax 成功后，静态更新表格中的数据
              $.ajax({
	        	url:'create',
	        	data:field,
	        	type:'POST',
	        	success: function(e){
	        		if(e.code==0){
		        		table.reload('LAY-reimburse-table');
		        		layer.msg(e.msg);
		        		layer.close(index);  //关闭弹层
	        		}else{
	        			layer.msg(e.msg);
	        		}
	            }
	          });
            });  
            
            submit.trigger('click');
          }
        }); 
      }
    }  
    
    $('.layui-btn.layuiadmin-btn-admin').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

  });
  </script>
</body>
</html>

